language: ruby
sudo: false
cache: bundler
matrix:
  include:
    - # GitHub Pages
      rvm: 2.4.2
      env: GH_PAGES=true
rvm:
  - 2.5
  - 2.4
  - 2.3
  - 2.2
before_script: bundle update
script: script/cibuild
