name: Continuous Integration

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  ci:
    if: "!contains(github.event.commits[0].message, '[ci skip]')"
    name: 'Ruby ${{ matrix.ruby_version }}'
    runs-on: 'ubuntu-latest'

    strategy:
      fail-fast: false
      matrix:
        ruby_version:
        - 2.5
        - 2.7
        - 3.0
        - 3.3
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 5
      - name: "Set up Ruby ${{ matrix.ruby_version }}"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - name: Execute tests
        run:  bash script/test
      - name: Check Style Offenses
        run:  bash script/fmt
      - name: Test gem build
        run:  bundle exec gem build jekyll-redirect-from.gemspec
      - name: Test gem install
        run:  bundle exec gem install jekyll-redirect-from --local --verbose

  ghp:
    if: "!contains(github.event.commits[0].message, '[ci skip]')"
    name: Ruby 3.3 with GitHub Pages Gem
    runs-on: 'ubuntu-latest'
    env:
      GH_PAGES: true
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 5
      - name: "Set up Ruby 3.3"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: true
      - name: Execute tests
        run:  bash script/test
